.badge{
  padding:6px 12px;
  border-radius:20px;
  font-size:13px;
  font-weight:600;
  display:inline-block;
}

.badge.orange{ background:#ff9800 !important; color:#000; }
.badge.yellow{ background:#ffd600 !important; color:#000; }
.badge.lime{ background:#00e676 !important; color:#000; }
.badge.red{ background:#ff5252 !important; color:#fff; }
.badge.gray{ background:#777 !important; color:#fff; }
